!!!
%html
  %head
    %title PlanMyRead
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}
    = csrf_meta_tags
  %body
    %h3= link_to "Plan my Read", root_path
    - if current_user
      Signed in as #{current_user.email} | #{link_to "Logout", '/logout'}
    - else
      = link_to 'Login', '/login'
      | #{link_to 'Signup', '/signup'}
    = yield
